<% if current_user %>

<script id="post_view" type="text/x-handlebars-template">
  {{#each posts}}
    <div class="post">
      <p>{{ message }}</p>
      <p>{{ item/name }}</p>
      <p>{{ item/itemtype/name }}</p>
      <p><a href="{{ item/url }}">{{ item/url }}</a></p>
    </div>
  {{/each}}
</script>

<%= current_user.name %>
<h1>Welcome</h1>

<%= @posts %>



<% else %>
<div id="sign_up">
  <h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name, :autofocus => true %></div>

  <div><%= f.label :username %><br />
  <%= f.text_field :username, :autofocus => true %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>
<% end %>

