<% if current_user %>

<%= current_user.name %>
<h1>Welcome</h1>

<%= form_for @post do |f| %>
  <%= f.text_area :message, placeholder: "message", :maxlength => 70 %><br>
    <%= form_for @item do |f| %>
    <%= f.collection_select :id, @itemtypes, :id, :name %><br>
      <%= f.text_field :name, placeholder: "name" %><br>
      <%= f.text_field :url, placeholder: "link" %><br>
    <% end %>
  <%= f.submit %>
<% end %>



<% else %>
<div id="sign_up">
  <h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name, :autofocus => true %></div>

  <div><%= f.label :username %><br />
  <%= f.text_field :username, :autofocus => true %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>
<% end %>

