 <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <div id="logo"><a href="/#"><%= image_tag("hubbub.png") %></a></div>
        </div>
        <div class="navbar-collapse collapse pull-right">
          <ul class="nav navbar-nav">
              <% if user_signed_in? %>
              <li><div id="top-watchlist-link"><div id="watchlist-count"></div><%= link_to "Watchlist", "/#/watchlist" %><div></li>
              <li><a class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b> <%= current_user.username %></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "your page", "/#" %></li>
                  <li> <%= link_to "edit profile", "/#edit", "data-toggle" => "modal"  %></li>
                  <li><%= link_to "sign out", destroy_user_session_path, :method => :delete %></li>
                </ul>
              <li></li>
              <% else %>
              <li><%= link_to "Login", "#login", "data-toggle" => "modal" %></li>
              <li><%= link_to "Sign Up", "#sign_up", "data-toggle" => "modal"%> </li>  
              <% end %>
          </ul>
        </div>
        <div id="search_container">
          <div id="search_form"></div>
        </div>
      </div>
    </div>