<!DOCTYPE html>
<html>
<head>
  <title>Hubbub</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="assets/hubbubfavicon.ico/"/>

  <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "home/login_modal" %>
  <%= render "home/sign_up_modal" %>
  <%= render "layouts/header" %>
  <%= render "home/search" %>

  <% if user_signed_in? %>
    <%= render "home/edit_modal" %>
  <% else %>
  <% end %>

  <div class='container main'>
    <%= yield %>
  </div>

</body>
</html>
