<!DOCTYPE html>
<html>
<head>
  <title>Hubbub</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "home/login_modal" %>
  <%= render "home/sign_up_modal" %>
  <%= render "home/edit_modal" %>
  <%= render "layouts/header" %>

  <div class='container main'>
    <%= yield %>
  </div>

</body>
</html>
