<!DOCTYPE html>
<html>
<head>
  <title>WdiProject3</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <nav>
<% if current_user %>
  <a href="<%= sign_out_path %>">Sign Out</a>
<% end %>
</nav>
   <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<%= yield %>
</div>

</body>
</html>
